body, 
html {
  cursor: default;
}

canvas {
  border: 1px solid red;
  cursor: crosshair;
  cursor: url("./Images/gun-pointer.png") 55 55, default;
}

section {
  font-size: 20px; 
  font-weight: bold; 
  font-family: 'Courier New', 
  Courier, monospace;
}